export HCLOUD_TOKEN=BigLongHCloudAPITokenGoesHere
export CLOUDFLARE_API_TOKEN=AnotherBigLongAPITokenGoesHere
export NOOBIS_HCLOUD_SSH_NAME=SSHKeyNameHere
export NOOBIS_DOMAIN=examp.le
export NOOBIS_USERNAME=noobis
export NOOBIS_PASSWORD=noobis1234
export NOOBIS_AUTH_PORTAL_USERNAME=noobis
export NOOBIS_AUTH_PORTAL_EMAIL=noobis@examp.le
export NOOBIS_AUTH_PORTAL_PASSWORD=noobis1234
export NOOBIS_GRAFANA_ADMIN_PASS=admin
