export HCLOUD_TOKEN=BigLongHCloudAPITokenGoesHere
export NOOBIS_HCLOUD_SSH_NAME=SSHKeyNameHere
export NOOBIS_USERNAME=noobis
export NOOBIS_PASSWORD=noobis
export NOOBIS_HOST_DOMAIN=examp.le
export NOOBIS_GRAFANA_ADMIN_PASS=admin
