datacenter  = "{{ nomad_datacenter }}"
region      = "{{ nomad_region }}"
data_dir    = "{{ nomad_data_dir }}"
log_level   = "INFO"
name        = "nomad-{{ node_id }}"
bind_addr   = "{{ hostvars[inventory_hostname]['ansible_host'] | default(inventory_hostname) }}"
