[Unit]
Description=consul-template
Requires=network-online.target
After=network-online.target

[Service]
User=caddy
Group=caddy
ExecStart=/usr/bin/consul-template -config={{ consul_template_config_dir }}/consul-template.hcl
Restart=on-failure
ReadWritePaths={{ caddy_config_dir }}
PrivateTmp=true
ProtectSystem=full

KillSignal=SIGINT
ExecReload=/bin/kill -HUP $MAINPID

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
