log_level = "INFO"

consul {
  address = "127.0.0.1:8501"
  token = "{{ consul_acl_client_token }}"

  ssl {
    enabled = true
    verify  = true
    key     = "{{ consul_certs_dir }}/consul_client_tls_key.pem"
    cert    = "{{ consul_certs_dir }}/consul_client_tls_cert.pem"
    ca_cert = "{{ consul_certs_dir }}/consul_ca_cert.pem"         
  }
}

template {
  source = "{{ consul_template_templates_dir }}/Caddyfile.ctmpl"
  destination = "{{ caddy_config_dir }}/Caddyfile"

  exec {
    command = ["caddy", "reload"]
  }
}
