# TODO: see if addresses need changing
client {
  enabled  = true
  cni_path = {{ nomad_cni_dir }}
}

consul {
  token     = "{{ consul_acl_nomad_token }}"
  ssl       = true
  ca_file   = "{{ consul_certs_dir }}/consul_ca_cert.pem"
  key_file  = "{{ consul_certs_dir }}/consul_client_tls_key.pem"
  cert_file = "{{ consul_certs_dir }}/consul_client_tls_cert.pem"
}

tls {
  http = true
  rpc  = true

  key_file  = "{{ nomad_certs_dir }}/nomad_client_tls_key.pem"
  cert_file = "{{ nomad_certs_dir }}/nomad_client_tls_cert.pem"
  ca_file   = "{{ nomad_certs_dir }}/nomad_ca_cert.pem"

  verify_server_hostname = true
  verify_https_client    = true
}

# this is only used for operators, nomad servers or clients don't
# need tokens to perform tasks so idk if this is worth having since
# the bootstrap token is all that's needed rn
# acl {
#   enabled = true
# }

plugin "docker" {
  config {
    # alow mounting any dir on host to containers instead of just
    # relative to the nomad alloc dir
    volumes {
      enabled = true
    }
    extra_labels = [
      "job*",
      "task*",
      "node*",
    ]
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

telemetry {
  # disable_hostname          = true
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}
