[paths]
data = {{ grafana_data_dir }}
logs = {{ grafana_logs_dir }}
plugins = {{ grafana_plugins_dir }}
provisioning = {{ grafana_provisioning_dir }}

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}
