---
apiVersion: 1
providers:
  - name: node-exporters
    type: file
    allowUiUpdates: true
    options:
      path: "{{ grafana_dashboards_dir }}/node-exporters.json"

  - name: caddy-metrics
    type: file
    allowUiUpdates: true
    options:
      path: "{{ grafana_dashboards_dir }}/caddy.json"

  - name: prometheus-self-metrics
    type: file
    allowUiUpdates: true
    options:
      path: "{{ grafana_dashboards_dir }}/prometheus.json"

  - name: consul-server-metrics
    type: file
    folder: Consul
    allowUiUpdates: true
    options:
      path: "{{ grafana_dashboards_dir }}/consul-servers.json"

  - name: consul-mesh-metrics
    type: file
    folder: Consul
    allowUiUpdates: true
    options:
      path: "{{ grafana_dashboards_dir }}/consul-mesh.json"

  - name: nomad-client-metrics
    type: file
    folder: Nomad
    allowUiUpdates: true
    options:
      path: "{{ grafana_dashboards_dir }}/nomad-clients.json"

  - name: nomad-server-metrics
    type: file
    folder: Nomad
    allowUiUpdates: true
    options:
      path: "{{ grafana_dashboards_dir }}/nomad-servers.json"

  - name: nomad-alloc-metrics
    type: file
    folder: Nomad
    allowUiUpdates: true
    options:
      path: "{{ grafana_dashboards_dir }}/nomad-allocs.json"
